@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Você pode começar visitando a seguinte seção: <a asp-controller="Car" asp-action="Index">Veículos</a>.</p>

    <p>Esse projeto foi baseado no jogo
        <a href="https://midnightclub.fandom.com/wiki/Midnight_Club_History" target="_blank"
            rel="noopener noreferrer">Midnight Club</a>.
    </p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action disabled">Dados para testes e inspirações para atributos podem
            ser encontrados a seguir</li>
        <li class="list-group-item">
            <a href="https://midnightclub.fandom.com/wiki/Jersey_XS" target="_blank" rel="noopener noreferrer">Veículo
                MC2: Jersey XS</a>
        </li>
        <li class="list-group-item">
            <a href="https://midnightclub.fandom.com/wiki/Nissan_Skyline" target="_blank"
                rel="noopener noreferrer">Veículo MC3: Nissan Skyline</a>
        </li>
        <li class="list-group-item">
            <a href="https://midnightclub.fandom.com/wiki/Category:Vehicles_in_MC3" target="_blank"
                rel="noopener noreferrer">Veículos MC3</a>
        </li>
    </ul>
</div>
