@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Você pode começar visitando a seguinte seção: <a asp-controller="Car" asp-action="Index">Veículos</a>.</p>
</div>
