@model VehicleType
@{
    ViewData["Title"] = "Classes";
}
<h1 class="display-4">Classes</h1>
@if (@TempData["msg"] != null)
{
    <alert message='@TempData["msg"]' type="info"></alert>
}
<div class="row">
    <div class="col-6">
        <form asp-action="Store">
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input asp-for="Description" placeholder="e.g. Tuner, Luxo..." class="form-control">
                    <label asp-for="Description"></label>
                </div>

                <button type="submit" class="btn btn-outline-primary d-flex">
                    <i class="bi bi-save"></i>
                    <span class="d-none d-md-block ms-2 ml-2">Salvar</span>
                </button>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </form>
    </div>
    <div class="col-6">
        <table class="table table-striped">
            <caption>Total de Classes cadastradas: @ViewBag.classes.Count</caption>
            <thead>
                <tr class="text-center">
                    <th scope="col">Nome</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.classes.Count == 0)
                {
                    <tr class="text-center">
                        <td class="">Nenhuma classe cadastrada.</td>
                    </tr>
                }
                @foreach (var m in ViewBag.classes)
                {
                    <tr class="text-center">
                        <td class="text-start text-left">@m.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>